.container {
  padding: 10px;
  width: 24rem;
  height: 10rem;
  font-size: 12px;
}

.ratingStyle {
  color: #2eb82e;
  text-align: right;
  font-weight: 700;
  margin-bottom: 5px;
}

.image {
  width: 5rem;
}

.bodyContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 10px;
}
